button {
    position: relative;
    top: 0;
    right: 0;
}
.bouncing-ball {
    width: 100px;
    height: 100px;
    background: black;

    animation: bounce 3s, move 3s;

    position:absolute;
    bottom: 0;
    left: 0;
}

@keyframes bounce{
    100% {
        left:80%;
    }
}

@keyframes move {
    50% {
        bottom: 20%;
    }
    100% {
        bottom: 0;
    }
}
