.truck {
	background-color: blue;
	position: absolute;
	bottom: 5%;
}
.carContainer {
	background-color: blue;
	position: absolute;
	bottom: 10%;
}
.car {
    width: 10vw;
    height: 10vh;
}

.wheel_1Container {
	position: absolute;	
	bottom: -50%
}
.wheel_2Container {
	position: absolute;	
	left: 65%;
	bottom: -50%
}
.wheel_1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
}
.wheel_2{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
}
.car_move {
	position: absolute;
	-webkit-animation: car_move 10s linear alternate;
	bottom:57.5%;
	left:10%;
}

.trailerContainer {
	position: absolute;
	bottom: 85%;
}
.trailer {
    background-color: brown;
    width: 10vw;
    height: 2vh;

}
.trailer_animation {
	position: absolute;
	-webkit-animation: trailer_animation 20s linear forwards;
	bottom: 85%
}
.packageContainer{
	position:absolute;
	background-color: grey;
	visibility: visible;
	z-index: 2;
	left:15%;
	bottom: 105%;
}
.package{
	width: 50px;
    height: 50px;	
}
.package_animation{
	z-index: 2;
	position: absolute;
	visibility: visible;
	-webkit-animation: package_animation 20s linear forwards;
	left:15%;
	bottom: 105%;
}
@keyframes trailer_animation {
    0%	{
			transform:rotate(0deg);
	}
	25% {
			transform:rotate(0deg);
	}
    50% {
			transform:rotate(0deg);
	}
	100% {
			transform-origin: bottom left;
			transform:rotate(-40deg);
	}
 }
  
@keyframes car_move {
	0%  {   
            transform: translateX(0vw);
			bottom: 5%;
    }
    50%  {   
			transform: translateX(75vw);
			bottom: 5%;
    }
    100% {  
			transform: translateY(-20vw);
			bottom: 15%;
    }
}
@keyframes package_animation {
      0% {
          transform: rotate3d(0, 0, 0, 0deg);
          bottom: 14vh;
          left: 2vw;
      }
      25% {
          transform: rotate3d(0, 0, 0, 0deg);
          bottom: 15vh;
          left: 70vw;
      }
      50% {
          transform: rotate3d(0, 0, 0, 0deg);
          bottom: 65vh;
          left: 16vw;
      }
      100% {
          bottom: 64vh;
          left: 15vw;
          transform-origin: -1vh 4vw;
          transform: rotate3d(0, 0, 1, -60deg);
      }
}