.truck {
	background-color: blue;
	position: absolute;
	bottom: 10%
}
.carContainer {
	background-color: blue;
	position: absolute;
	bottom: 10%;
}
.car {
    width: 10vw;
    height: 10vh;
}

.wheel_1Container {
	position: absolute;	
	bottom: -50%
}
.wheel_2Container {
	position: absolute;	
	left: 65%;
	bottom: -50%
}
.wheel_1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
}
.wheel_2{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
}
.move {
	position: absolute;
	left: 7.5%;
	-webkit-animation: move 10s linear alternate;
	bottom:60%
}

.trailerContainer {
	position: absolute;
	bottom: 100%;
}
.trailer {
    background-color: brown;
    width: 10vw;
    height: 2vh;
}
.hit {
	position: absolute;
	-webkit-animation: hit -30s;
	bottom: 100%

}
@keyframes hit {
    0%	{
			transform:rotate(0deg);
	}
    50% {
			transform:rotate(-30deg);
	}
	100% {
			transform:rotate(0deg);
	}
 }
  
@keyframes move {
	0%  {   
            transform: translateX(0vw);
			bottom: 5%;
    }
    50%  {   
			transform: translateX(85vw);
			bottom: 5%;
    }
    100% {  
			transform: translateY(-20vw);
			bottom: 15%;
    }
}