.imgPosition{
	top: 10%;
}

.kPosition{
	position: absolute;	
	display: inline-block;
	top: 20%;
	right: 0%;
}

.jajkoPosition{
    position: relative;
	top: 10%;
}
 
 .jajko {
	 height: 50px;
	 width:  50px;
}
.jajkomove{
	position: absolute;
    -webkit-animation: jajkomove 6s linear forwards;

}

@keyframes jajkomove {
	0%  {   
            transform: translateX(0vw);
    }
    100%  {   
			transform:scale(0.3) translate3d(300vw, 15vw,0);
    }
}