.imgPosition{
	top: 10%;
}

.kPosition{
	position: absolute;	
	top: 20%;
	left: 80%;
}

.jajkoPosition{
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
	-webkit-animation: jajkomove 10s linear alternate infinite;
}
 
 .jajko {
	 height:50px;
	 width: 50px;

}



.koszykPosition{
	position: absolute;	

}
 .koszyk {
}

@keyframes jajkomove {
    0% {
        left: 0%;
    }
    100% {
        left: calc(100vw - 10px);
    }
}